body
{
    background-color:#FF78C4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6vw;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.3vw;
    
   
}

.b
{
    background-color: white;
    padding: 40px 30px 10px;
    border:3px solid black;
    padding: 1.5vh;
    margin:100px auto 20px;
    border-radius: 20px;
    text-align: center;
  
}
#a
{
    width:6.5vw;
    height:1.3vw;
   
}
#b
{
    width:7.5vw;
    height:1.3vw;
   
}
#c
{
    width:8vw;
    height:1.3vw;
   
}

#d
{
    background-color:#0A6EBD;
    color:white;
    border-radius: 30px;
    border:2px solid black;
    height:5vh;
    width: 25vw;
    
}
#d:hover
{
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .b {
       width: 100%;
       margin: 0;
    }
}
