body {
    background-color: #FF78C4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    height: 100vh;
    overflow-y: hidden;
}

@media (max-width: 900px) {
    body {
        font-size: 3.5vw;
    }
 

}

@media (max-width: 600px) {
    body {
        font-size: 5vw;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 7vw;
    }
}

.b {
    background-color: white;
    border: 3px solid black;
    padding: 1.5vh;
    border-radius: 20px;
    text-align: center;
}

#a {
    width: 120px;
    height: 19px;
}

#b {
    width: 140px;
    height: 30px;
}

#c {
    width: 146px;
    height: 19px;
}

#d {
    background-color: #0A6EBD;
    color: white;
    border-radius: 30px;
    border: 2px solid black;
    height: 5vh;
    width: 220px;
}

#d:hover {
    opacity: 0.9;
}
input[type="text"] {
    color:black; 
    font-size: 18px; 
    font-family: Arial, sans-serif; 
}
select {
  
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-family: Arial, sans-serif;

}

